$zebra-doc-black: #323233;
$zebra-doc-blue: #1989fa;
$zebra-doc-purple: #8080ff;
$zebra-doc-fuchsia: #a7419e;
$zebra-doc-green: #4fc08d;
$zebra-doc-text-color: #34495e;
$zebra-doc-text-light-blue: rgb(69 90 100 / 60%);
$zebra-doc-background-color: #f7f8fa;
$zebra-doc-grey: #999;
$zebra-doc-dark-grey: #666;
$zebra-doc-light-grey: #ccc;
$zebra-doc-border-color: #f1f4f8;
$zebra-doc-code-color: #58727e;
$zebra-doc-code-background-color: #f1f4f8;
$zebra-doc-code-font-family: 'Source Code Pro', 'Monaco', 'Inconsolata',
  monospace;
$zebra-doc-padding: 60rpx;
$zebra-doc-row-max-width: 1680rpx;
$zebra-doc-nav-width: 440rpx;
$zebra-doc-border-radius: 24rpx;

// header
$zebra-doc-header-top-height: 120rpx;
$zebra-doc-header-bottom-height: 100rpx;

// simulator
$zebra-doc-simulator-width: 720rpx;
$zebra-doc-simulator-small-width: 640rpx;
$zebra-doc-simulator-height: 1240rpx;
$zebra-doc-simulator-small-height: 1120rpx;
