.swiper-flip {
  overflow: visible;
  .swiper-slide-shadow-top,
  .swiper-slide-shadow-bottom,
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    z-index: 0;
    backface-visibility: hidden;
  }
}

.swiper-slide-flip {
    pointer-events: none;
    backface-visibility: hidden;
    z-index: 1;
	transform-style: preserve-3d;
    .swiper-slide {
      pointer-events: none;
    }
}
