$zebra-doc-black = #323233;
$zebra-doc-blue = #1989fa;
$zebra-doc-purple = #8080ff;
$zebra-doc-fuchsia = #a7419e;
$zebra-doc-green = #4fc08d;
$zebra-doc-primary = #08C6C8;
$zebra-doc-text-color = #34495e;
$zebra-doc-text-light-blue = rgba(69, 90, 100, 0.6);
$zebra-doc-background-color = #f7f8fa;
$zebra-doc-grey = #999;
$zebra-doc-dark-grey = #666;
$zebra-doc-light-grey = #ccc;
$zebra-doc-border-color = #f1f4f8;
$zebra-doc-code-color = #58727e;
$zebra-doc-code-background-color = #f1f4f8;
$zebra-doc-code-font-family = 'Source Code Pro', 'Monaco', 'Inconsolata', monospace;
$zebra-doc-padding = 30px;
$zebra-doc-row-max-width = 1680px;
$zebra-doc-nav-width = 220px;
$zebra-doc-border-radius = 4px;
// header
$zebra-doc-header-top-height = 60px;
$zebra-doc-header-bottom-height = 50px;
// simulator
$zebra-doc-simulator-width = 375px;
$zebra-doc-simulator-small-width = 320px;
$zebra-doc-simulator-height = 620px;
$zebra-doc-simulator-small-height = 560px;