$gray-3: #ebedf0;
$gray-8: #323233;
$animation-duration-fast: 0.2s;
$swipe-indicator-size: 12rpx;
$swipe-indicator-margin: 24rpx;
$swipe-indicator-active-opacity: 1;
$swipe-indicator-inactive-opacity: 0.3;
$swipe-indicator-active-background-color: #1989fa;
$swipe-indicator-inactive-background-color: #323233;